*{
    margin: 0%;
    padding: 0%;
}

nav{
    background-color: black;
    color: white;
    padding: 10px;

}
ul,h2,li{
    display: inline;
}
ul{
    margin-left: 70%;
}
li{
    color: gray;
    cursor: pointer;
}
li:hover{
    color: white;
}
.searchbar{
   padding: 50px;
   text-align: center;

}
input{
    width: 60%;
    padding: 15px;
    
}
.box{
    border-color: black;
    border-width:3px ;
    border-style: solid;
    display: inline-block;
    width: 250px;
}
.product{
    text-align: center;
}
.box:hover{
    background-color: black;
    color: white;
    cursor: default;

}
.aboutus{
    text-align: center;
    margin: 20px;
    padding: 10px;
}
.order{
    text-align: center;
    padding: 20px;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}
.one{
    background-color: orange;
    display: inline;
}